* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$color1: #795ec4;
$color2: #00ADB5;
$color3: #393E46;
$color4: #222831;

.container-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    gap: 5px;
    background: linear-gradient(to bottom, $color4, $color1);

    .div1 {
        grid-area: 1 / 1 / 3 / 3;
        display: flex;

        .div5 {
            grid-area: 1 / 1 / 3 / 2;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, $color4, $color1);
            border-radius: 20px 20px 0;

            img {
                max-width: 90%;
                max-height: 90%;
                border-radius: 25%;
            }
        }

        .div6 {
            grid-area: 1 / 2 / 3 / 3;
            flex: 1;
            background-color: $color3;
            border-radius: 0 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, $color4, $color1);

            p {
                font-size: 25px;
                color: #fff;
                text-align: center;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                padding: 20px;
            }
        }
    }

    .div2 {
        grid-area: 1 / 3 / 3 / 4;
        background: linear-gradient(to bottom, $color4, $color1);
        border-radius: 0 0 20px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 5px;

        .div2-1,
        .div2-2 {
            padding: 20px;
            padding: 35px;

            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        }
    }

    .div3 {
        grid-area: 4 / 4 / 5 / 5;
        background: linear-gradient(to bottom, $color1, $color4);
        border-radius: 20px 0 0 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 5px;

        .div3-1,
        .div3-2,
        .div3-3 {
            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 20px;
            position: relative;
            cursor: pointer;
            transition: transform 0.3s ease;
            overflow: hidden;
        }

        .div3-1::before,
        .div3-2::before,
        .div3-3::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            border-radius: 0 0 5px 5px;
            padding: 5px;
            transform: translateY(100%);
            transition: transform 0.3s;
        }

        .div3-1:hover::before,
        .div3-2:hover::before,
        .div3-3:hover::before {
            transform: translateY(0);
        }

        .div3-1:hover,
        .div3-2:hover,
        .div3-3:hover {
            transform: translateY(-20px);
        }
    }

    .div4 {
        grid-area: 1 / 4 / 4 / 5;
        display: flex;
        background: linear-gradient(to top, $color1, $color4 );
        border-radius: 0 0 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 5px;

        .div4-1,
        .div4-2,
        .div4-3,
        .div4-4 {
            padding: 20px;
            padding: 35px;

            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        }
    }

    .div7 {
        grid-area: 3 / 2 / 5 / 4;
        background: linear-gradient(to bottom, $color1, $color4);
        border-radius: 20px 20px 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 5px;

        .div7-1,
        .div7-2,
        .div7-3,
        .div7-4 {
            padding: 20px;
            padding: 35px;

            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        }
    }

    .div8 {
        grid-area: 3 / 1 / 5 / 2;
        background: linear-gradient(to bottom, $color1, $color4);
        border-radius: 25px 25px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;


        .image-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            justify-content: center;
            
            img {
                max-width: 70%;
            }
        }

    }

    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8 {
        padding: 10px;
        //border: 1px solid beige;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;

        .div1 {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;

            .div5 {
                grid-area: 1 / 1 / 3 / 2;

            }

            .div6 {
                grid-area: 1 / 2 / 3 / 3;

                p {
                    font-size: 15px;
                }
            }
        }

        .div2 {
            grid-area: 1 / 3 / 3 / 4;

            @media screen and (max-width: 768px) {
                grid-area: auto;
            }
        }

        .div3 {
            grid-area: 4 / 4 / 5 / 5;

        }

        .div4 {
            grid-area: 1 / 4 / 4 / 5;

        }

        .div7 {
            grid-area: 3 / 2 / 5 / 4;

        }

        .div8 {
            grid-area: 3 / 1 / 5 / 2;

        }

        .div1,
        .div2,
        .div3,
        .div4,
        .div5,
        .div6,
        .div7,
        .div8 {
            padding: 10px;
            border-radius: 0;

            //border: 1px solid beige;
            @media screen and (max-width: 768px) {
                grid-area: auto;
            }
        }
    }
}